.manramasner {
  padding-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  background-color: #fafafa;

  & > p {
    font-size: 30px;
    margin-bottom: 6px;
  }
  &-txt > p {
    font-size: 20px;
  }
  &-detals {
    margin-top: 50px;
    display: flex;
    gap: 150px;
  }
}
