.paper-content {
  width: 100%;
  justify-content: center;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  position: relative;
  padding: 10px;

  &-username,
  &-guests,
  &-phone {
    width: 450px;
    padding: 10px 80px 10px 20px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    border: none;
    border-bottom: 1px solid;
    outline: none;
  }

  @media screen and (max-width: 1080px) {
    &-username,
    &-guests,
    &-phone {
      width: 100%;
    }
  }

  @media screen and (max-width: 700px) {
    &-username,
    &-guests,
    &-phone {
      width: 100%;
      padding: 5px 20px 5px 10px;
      font-size: 10px;
    }
  }

  @media screen and (max-width: 480px) {
    &-username,
    &-guests,
    &-phone {
      width: 100%;
    }
  }
}
