.header-nav {
  width: 100%;
  height: 112px;
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
  transition: all 300ms ease;
  &-logo {
    width: 15%;
    transition: all 300ms ease-out;
    & img {
      width: 100%;
    }
  }
  & > ul {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > li {
      position: relative;
      overflow: hidden;
      -webkit-text-fill-color: transparent;
      display: inline-block;
      cursor: pointer;
      display: inline-block;
      background: linear-gradient(to right, #ed2a4f 50%, #000000 50%);
      font-weight: 500;
      transition: background-position 300ms ease;
      background-clip: text;
      background-size: 200% 100%;
      background-position: 100%;

      &:hover {
        background-position: 0 100%;
      }
    }
  }
  &-menu {
    display: none;
  }
  &-phone {
    width: 10%;
    background-color: transparent;
    border: 2px solid #ed2a4f;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-radius: 25px;
    color: #ed2a4f;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 300ms ease;

    & > p {
      font-weight: 500;
    }
    &::before {
      top: 0;
      left: 120%;
      color: #ffffff;
      width: 200%;
      height: 101%;
      z-index: 1;
      content: "";
      position: absolute;
      transform: scaleX(0);
      transition: transform 0.5s;
      border-radius: 25px;
      background-color: #000000;
      transform-origin: 0 0;
      transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    }
    &:hover {
      color: white;
      transform: rotate(-5deg);
      border: #000000;
      &::before {
        color: #ffffff;
        z-index: -1;
        transform: scaleX(-1);
      }
    }
  }
}

@media screen and (max-width: 1316px) {
  .header-nav {
    & > ul {
      display: none;
    }
    &-menu {
      display: block;
    }
    &-phone {
      width: 15%;
    }
    &-logo {
      width: 40%;
    }
    &-phone {
      display: none;
    }
  }
}

@media screen and (max-width: 480px) {
  .header-nav-logo {
    width: 68%;
  }
}
