@media screen and (max-width: 1080px) {
  .header-nav {
    padding: 0 80px;
    transition: all 0.5s ease;
  }

  .erb-ev-vortex {
    gap: 30px;
    transition: all 0.5s ease;

    > h2 {
      font-size: 32px;
      transition: font-size 0.5s ease;
    }

    &-or {
      flex-direction: column;
      align-items: center;
      text-align: center;
      transition: all 0.5s ease;

      .amis,
      .jam {
        font-size: 28px;
        margin: 10px 0;
        transition: font-size 0.5s ease, margin 0.5s ease;
      }

      .between-box {
        width: 100%;
        padding: 15px;
        transition: width 0.5s ease, padding 0.5s ease;

        .shabatva-or,
        .tari {
          font-size: 16px;
          transition: font-size 0.5s ease;
        }

        .or {
          font-size: 28px;
          transition: font-size 0.5s ease;
        }
      }
    }

    &-restoran h2 {
      font-size: 22px;
      transition: font-size 0.5s ease;
    }
  }

  .hethashvark {
    .base {
      width: 20%;
    }
  }

  .envelope {
    width: 400px;
    height: 240px;
  }

  .paper-content-username,
  .paper-content-guests,
  .paper-content-phone {
    width: 100%;
  }

  .button {
    padding: 10px 20px;
    font-size: 14px;
    top: 130px;
    left: 100px;
  }
}

@media screen and (max-width: 932px) {
  .header-nav {
    padding: 0 10px;
    transition: padding 0.5s ease;
  }
}

@media screen and (max-width: 700px) {
  .header-nav > ul {
    display: none;
    transition: display 0.3s ease;
  }

  .drop-dawn {
    display: block;
    transition: display 0.3s ease;
  }

  .erb-ev-vortex {
    gap: 15px;
    transition: all 0.5s ease;

    > h2 {
      font-size: 24px;
      transition: font-size 0.5s ease;
    }

    &-or {
      padding: 10px;
      transition: all 0.5s ease;

      .amis,
      .jam {
        font-size: 20px;
        transition: font-size 0.5s ease;
      }

      .between-box {
        padding: 5px;
        transition: padding 0.5s ease;

        .shabatva-or,
        .tari {
          font-size: 12px;
          transition: font-size 0.5s ease;
        }

        .or {
          font-size: 20px;
          transition: font-size 0.5s ease;
        }
      }
    }

    &-restoran h2 {
      font-size: 18px;
      transition: font-size 0.5s ease;
    }
  }

  .hethashvark {
    height: 500px;

    &-base {
      height: 300px;
      flex-wrap: wrap;

      .base {
        height: 110px;
        width: 40%;
      }
    }
  }

  .envelope {
    width: 350px;
    height: 200px;
  }

  .paper-content-username,
  .paper-content-guests,
  .paper-content-phone {
    width: 100%;
    padding: 5px 20px 5px 10px;
    font-size: 10px;
  }

  .envelope-container > p {
    font-size: 12px;
    transition: font-size 0.5s ease;
  }

  .button {
    padding: 5px 20px;
    font-size: 10px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 480px) {
  .erb-ev-vortex {
    padding: 5px;
    transition: padding 0.5s ease;

    > h2 {
      font-size: 20px;
      transition: font-size 0.5s ease;
    }

    &-or {
      padding: 5px;
      gap: 5px;
      transition: all 0.5s ease;

      .amis,
      .jam {
        font-size: 18px;
        transition: font-size 0.5s ease;
      }

      .between-box {
        padding: 5px;
        transition: padding 0.5s ease;

        .shabatva-or,
        .tari {
          font-size: 10px;
          transition: font-size 0.5s ease;
        }

        .or {
          font-size: 18px;
          transition: font-size 0.5s ease;
        }
      }
    }

    &-restoran h2 {
      font-size: 16px;
      transition: font-size 0.5s ease;
    }
  }

  .drop-dawn-menu-ul {
    font-size: 8px;
    transition: font-size 0.5s ease;
  }

  .hethashvark {
    height: 950px;

    &-base {
      height: 600px;
      flex-wrap: wrap;

      .base {
        height: 120px;
        width: 100%;
      }
    }
    &-header p {
      font-size: 18px;
    }
  }

  .map {
    width: 200px;
  }

  .envelope {
    width: 250px;
    height: 150px;
  }

  .paper-content-username,
  .paper-content-guests,
  .paper-content-phone {
    width: 100%;
  }

  .paper-content {
    padding-top: 2px;
  }

  .manramasner-map-form-map {
    width: 90%;
  }

  .button {
    padding: 5px 10px;
    font-size: 8px;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
  }
  .error-message {
    font-size: 10px;
    bottom: 200px;
  }
}
